<nav class="navbar navbar-light bg-secondary">
    <div class="container-fluid">
        <h1 style="color: aliceblue ;">Player Details</h1>
        <div class="d-flex">
            <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class=" btn btn-success">Add player</button>
        </div>
    </div>
</nav>

<table class="table table-light table-hover mt-3" >
    <thead class="table-secondary">
        <tr mat-row class=" table-dark">
            <th>Player ID</th>&nbsp;
            <th>First Name</th>&nbsp;
            <th>Last Name</th>&nbsp;
            <th>Nationality</th>&nbsp;
            <th>Club</th>&nbsp;
            <th>Position</th>&nbsp;
            <th>Value</th>&nbsp;
            <th>Action</th>&nbsp;
        </tr>
    </thead>
    <tbody class="table-striped table-success">
        <tr mat-row *ngFor="let playerVal of playerData">
            <td>{{playerVal.id}}</td>&nbsp;
            <td>{{playerVal.firstName}}</td>&nbsp;
            <td>{{playerVal.lastName}}</td>&nbsp;
            <td>{{playerVal.nationality}}</td>&nbsp;
            <td>{{playerVal.club}}</td>&nbsp;
            <td>{{playerVal.position}}</td>&nbsp;
            <td>{{playerVal.value}}</td>&nbsp;
            <td>
                <button (click)="onEdit(playerVal)" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-info">Edit</button>
                <button (click)="deletePlayer(playerVal)" class="btn btn-danger mx-3">Delete</button>
            </td>
        </tr>
    </tbody>
</table>



  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1"  aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Player Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

            <form [formGroup]="formValue" >
             
                <div class="mb-3">
                    <label for="firstName">First Name:</label>
                    <input type="text" class="form-control" placeholder="First Name" formControlName="firstName"> <br>
                
                </div>
                <div class="mb-3">
                    <label for="lastName">Last Name:</label>
                    <input type="text"  class="form-control" placeholder="Last Name" formControlName="lastName"> <br>
                    
                </div>
                <div class="mb-3">
                    <label for="nationality">Nationality:</label>
                    <input type="text" class="form-control" placeholder="Nationality" formControlName="nationality"> <br>
                    
                </div>
                <div class="mb-3">
                    <label for="position">Club:</label>
                    <input type="text" class="form-control" placeholder="Club" formControlName="club"> <br>
                    
                </div>
                <div class="mb-3">
                    <label for="position">Position:</label>
                    <input type="text" class="form-control" placeholder="Position" formControlName="position"> <br>
                    
                </div>
                <div class="mb-3">
                    <label for="value">Value:</label>
                    <input type="text" class="form-control" placeholder="Value" formControlName="value"> <br>
                </div>

                


              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-close" data-bs-dismiss="modal" id="cancel" class="btn btn-secondary" data-dismiss="modal" >Close</button>
          <button type="button" (click)="postPlayerDetails()" class="btn btn-primary">Add</button>
          <button type="button" (click)="updatePlayerDetails()" class="btn btn-primary">Update</button> 
        </div>
      </div>
    </div>